[submodule "tools-Shuame"]
	path = tools-Shuame
	url = https://SayCV@github.com/SayCV/tools-Shuame.git
[submodule "owncloud_android"]
	path = owncloud_android
	url = https://SayCV@github.com/SayCV/owncloud_android.git
[submodule "reverse-tether"]
	path = reverse-tether
	url = https://SayCV@github.com/SayCV/reverse-tether.git
[submodule "SamsungUSBDrivers4Mobile"]
	path = SamsungUSBDrivers4Mobile
	url = https://SayCV@github.com/SayCV/SamsungUSBDrivers4Mobile.git
