[submodule "tools-Shuame"]
	path = tools-Shuame
	url = https://SayCV@github.com/SayCV/tools-Shuame.git
[submodule "owncloud_android"]
	path = owncloud_android
	url = https://SayCV@github.com/SayCV/owncloud_android.git
[submodule "reverse-tether"]
	path = reverse-tether
	url = https://SayCV@github.com/SayCV/reverse-tether.git
[submodule "SamsungUSBDrivers4Mobile"]
	path = SamsungUSBDrivers4Mobile
	url = https://SayCV@github.com/SayCV/SamsungUSBDrivers4Mobile.git
[submodule "android-reverse-tethering"]
	path = android-reverse-tethering
	url = https://SayCV@bitbucket.org/SayCV/android-reverse-tethering.git
[submodule "android-wired-tether"]
	path = android-wired-tether
	url = https://SayCV@bitbucket.org/SayCV/android-wired-tether.git
[submodule "onekey-decompile-apk"]
	path = onekey-decompile-apk
	url = https://SayCV@bitbucket.org/SayCV/onekey-decompile-apk.git
[submodule "Superuser"]
	path = Superuser
	url = https://SayCV@github.com/SayCV/Superuser.git
[submodule "root-commands"]
	path = root-commands
	url = https://github.com/SayCV/root-commands.git
[submodule "microlog4android"]
	path = microlog4android
	url = https://github.com/SayCV/microlog4android.git
